<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <header>
        <div class="navi" id="login">
            <% include ../partials/header %>

            <% if(user) { %>
            <a href="/logout"> Log Out</a>
            <% } else { %>
            <a href="/auth/google"> Login with Google</a>
            <% } %>
        </div>
    </header>
    <h1>Scheduling App</h1>
    <%if(scheds.length === 0) {%>
    <h3>No Upcoming Events</h3>
    <%} else {%> <%scheds.forEach(function(sched, idx){%>
    <ul>
        <li>Name: <%=sched.name%></li>
        <li>Date: <%=sched.date%></li>
        <li>Location: <%=sched.location%></li>
        <li>Details: <%=sched.details%></li>
        <li><a href="scheds/show">Show</a></li>

        <li>
            <form action="/scheds/<%= sched._id %>?_method=DELETE" method="POST">
                <input type="submit" value="Delete" />
            </form>
        </li>
    </ul>
    <%})%> <%}%>



</body>

</html>