<!DOCTYPE html>
<html>
<head>
  <link rel='stylesheet' href='public/stylesheets/styles.css' />
</head>
<body>
    <h1>Scheduling App</h1>

    <h2>Update <%= sched.name %></h2>
    <ul>
        <li>Name: <%=sched.name%></li>
        <li>Date: <%=sched.date%></li>
        <li>Location: <%=sched.location%></li>
        <li>Details: <%=sched.details%></li>
    </ul>
    <li><a href="/scheds/<%= sched._id %>/update">Update</a></li>
</body>